body {
    margin:0;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

.box {
    background-color: #ff330055;
    width: 50%;
    height: auto;
    
    margin: 15% auto;
    position: relative;
    text-align: center;
    font-family: cursive;
    font-size: 5vw;
}

.button {
    background-color: #eb4a00;
    width: 20%;
    margin: 15% auto;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    text-decoration: none;
}

.button:hover{
    cursor: pointer;
    background: #ffc107;
}
