body {
    margin:0;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

.box {
    background-color: #ff330099;
    width: 50%;
    height: auto;
    top: 35%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-family: cursive;
    font-size: 7vw;
    transform: translate(-50%, -50%);
}

.button1 {
    background-color: #eb4a00;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5vw;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 25%;
    width: 20%;
    transform: translate(-50%, -50%);
}

.button2 {
    background-color: #eb4a00;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5vw;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
}

.button3 {
    background-color: #eb4a00;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5vw;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 75%;
    width: 20%;
    transform: translate(-50%, -50%);
}

.button1:hover{
    cursor: pointer;
    background: #ffc107;
}

.button2:hover{
    cursor: pointer;
    background: #ffc107;
}

.button3:hover{
    cursor: pointer;
    background: #ffc107;
}
