body {
    margin:0;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

.box {
    background-color: #ff3300;
    width: 50%;
    
    margin: 15% auto;
    position: relative;
    text-align: center;
    font-size: 4vw;
}